.container {
  height: 100vh;
}

.row {
  display: flex;
}

.column {
  display: flex;
}

.open-modal {
  display: flex;
  cursor: pointer;
  background-color: #4a4ae9;
  color: #fff;
  font-size: 40px;
  border-radius: 5px;
  padding: 20px 40px;
  box-shadow: 1px 1px 5px 1px #000;
  position: fixed;
}

/* Pop Up Styling */
.column-two {
  position: relative;

  /* border:1px solid red; */
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 200vh;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.pop-up {
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  width: 50vh;
  height: 30vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.no-button {
  cursor: pointer;
  color: #fff;
  background-color: #eb5d5d;
  border: none;
  border-radius: 3px;
  font-size: 22px;
  padding: 5px 22px;
  margin-top: 25px;
}

.hidden-div {
  display: none;
}
